.drop{
	display: inline;
}
.dropnews{
	display: inline;
	text-align: right;
	color: black;

}
.dropnews:hover{
}
.logo{
	padding-left: 50px;
	margin-left: 50px;
	text-align: right;
}
.dropdown-menu > li:hover,
.dropdown-menu > li:focus {
  color: green;
  text-decoration: none;
  background-color: blue;
}
.left{
	margin-left: 6%;
	margin-bottom: 0;
	padding-bottom: 0;
	font-size: 80%;
	padding-top: 15px;
	min-width: 10px;
	max-width: 172px;
	line-height: 2.5;

}
.middle{
	min-width: 50px;
	max-width: 800px;
}
#config{
	display: none;
}
.parent1:hover #config{
	text-align: right;
	display: inline-block;
}
body{
	background-color: rgba(0, 0, 0, .1);
}
.link{
	color: black;
}
.link:hover{
	color: black;
	text-decoration: underline;
}
.disabledgroup{
	color: rgba(0, 0, 0, .355);
	text-decoration: blink;
	line-height: 2;
	height: 10px;

}

#hover-content {
    display:none;
    width: 100%;
    min-width: 10px;
	max-width: 190px;
	padding-left: 65px;
}
#parent:hover #hover-content {
    display:inline;
    text-align: right;
    min-width: 10px;
	max-width: 190px;

}
.hover-content1{
	display: none;
	
}
.parent:hover .hover-content1{
	display: inline;
	display: fixed;
	text-decoration: blink;
	letter-spacing: 10px;
	margin-left: 20%;
} 
.disabledgroup:hover{
	text-align: right;
	
}
.bookmark,.bookmark:hover{
	color: white;
	border-radius: .5px;
	font-size: 15px;
	background-color: #3b5998;
}
.groupicon{
	color: white;
	border-radius: 3px;
	font-size: 13px;
	background-color: #3b5998;
}
.groupicontree{
	color: green;
	border-radius: 3px;
	font-size: 13px;
	background-color: orange;
	padding-left: 3px;
}
#tent{
	background-color: #745252;
	color: brown green;
	padding-left: 3px;
}
#cloud{
	background-color: pink;
	color: #754328;
	padding-left: 3px;
}
#plus{
	padding-left: 3px;
}
#tower{
	background-color: #542341;
	color: white;
	padding-left: 3px;
}
#hover{
	display: inline-block;
	line-height: 2;
	margin: 0;
}
#hover:hover{
	background-color: rgba(0, 0, 0, .2);
	padding-left: 0;
	border-radius: 3px;
	width: 150px;
	display: inline-block;
}
.link:hover{
 text-decoration: underline;
}
#f1{
	font-size: 40;
}
.whole{
	background-color: rgba(0, 0, 0, .08);
	height: 100%;
	width: 100%;
}
.disabledletter{
	color: rgba(0, 0, 0, .355);
	text-decoration: shadow;
	line-height: 2;
	height: 10px;
}
.news{
	color: black;
}
#nav1{
	display: inline;
	height:5px;
	line-height: 2;
	border-radius:2px;
	margin: 0px 0px; 
}
.status{
	background-color: white;
	padding: 5px 5px;
	margin-top: 10px;
	border-style: none;
	width: 100%;
}
.statuspost{
	margin-left: 10px;
	min-width: 100%;
}
.divider {
  height: 1px;
  margin: 9px 0;
  overflow: hidden;
  background-color: #e5e5e5;
}
.input1{
	width: 90%;
	height: 40	0%;
}
.btn_right{
	text-align: right;
}
#public{
	background-color: rgba(0, 0, 0, .06);
	color: black;
}
.post{
	background-color: white;
	margin-top: 10px;
	padding: 10px 10px;
}
.pages{
	background-color: white;
	margin-top: 10px;
	padding: 10px 10px;
	font-size: 95%;
}
.chat{
	background-color: white;
	font-size: 100%;
	
}
#time{
	font-size: 80%;
	color: rgba(0, 0, 0, .3);
}
#time:hover{
	color: rgba(0, 0, 0, .5);
}
.link1:hover{
	text-decoration: blink;
	color: #3b5998;
}
.link1{
	display: inline;

}
.col3{
	position: relative;
  min-height: 1px;
  padding-right: 5px;
  padding-left: 5px;
  width: 20%;
  float: left;
}
.col4{
	position: relative;
  min-height: 1px;
  padding-right: 5px;
  padding-left: 5px;
  width: 19%;
  float: left;
}
.list{
	border-left: 1px solid #ddd;
}

.ticker{
height:550px;
overflow-y:scroll;
width:100%;
background-color: aliceblue;

}
.chatbadge .badge{
	color: green;
}
.chatimg{
	width: 30px;
	height: 30px;
}
.right{
	text-align: right;
	font-style: bold;
	color: rgba(0, 0, 0, .5);
	font-size: 100%;
}
.id{
	font-size: 75%;
}
#ok{
	text-align: right;
}
#head{
  background-color: #3b5998;
  margin-left: 0;
  padding-top: 5px;
}
#profile{
  background-color: #3b5998;
  margin-left: 0;
  padding-top: 10px;
  font-size: 16px;
}
.minimize{
	float: left;
}
.btn-minim{
  color: white;
  background-color: transparent;
  border-color: transparent;
  font-size: 10;
}
.btn-minim:hover,
.btn-minim:focus,
.btn-minim:active{
	color:red;
	font-size: 200%;
	background-color: transparent;
    border-color: transparent;
}