.drop{
	display: inline;
}
.logo{
	padding-left: 50px;
	margin-left: 50px;
	text-align: right;
}
.dropdown-menu > li:hover,
.dropdown-menu > li:focus {
  color: green;
  text-decoration: none;
  background-color: blue;
}
.whole{
	background-color: yellow;
	
	margin-left: 0px;
	margin-bottom: 0px;
	padding-bottom: 0;
}